.container {
	 height:100%;
    width: 100%;     
     padding-left: 0px;
     padding-right: 0px; 
}
.main-container {
	padding:0px;
   height:100%;
}
.page-title {
    display: none;
}

.addthis-smartlayers, div#at4-follow, div#at4-share, div#at4-thankyou, div#at4-whatsnext {
    padding: 0;
    margin: 0;
    display: none;
}
.row {
	 height:100%;
}
#login-form{
	border:none;
	padding: 0px;
	box-shadow:none;
}		
.col-sm-5{
	width: 65%;
	float: left;
	height: 100%;
		
}
.col-sm-5 img{
	width: 100%;

}
.col-sm-6 {
    width: 35%;
}
.col-main{
	padding-bottom: 0px;
}
.buttons-set button.button {
    float: left;
    }
    .buttons-set {
    padding: 8px 0px 35px;
}
.form-list input.input-text {
    width: 80%;
    height: 28px;
   border-radius: 0px; 
}
button.button span {
    border-radius: 0px;
}
.account-login .content {
    padding-top: 15%;
}