<div class="account-login">
    <div class="page-title">
        <h1><?php echo $this->__('Login or Create an Account') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="row">
            <div class="col-sm-5">
              <img src="http://127.0.0.1/v423/skin/frontend/base/default/images/login.png" />
            </div>
            <div class="col-sm-6">
                <div class="registered-users form-wrap">
                    <div class="content">
                        <h2><?php echo $this->__('Registered Customers') ?></h2>
                        <p><?php echo $this->__('If you have an account with us, please log in.') ?></p>
                        <ul class="form-list">
                            <li>
                                <label for="email" class="required"><em></em><?php echo $this->__('') ?></label>
                                <div class="input-box">
                                    <input type="text" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address') ?>" />
                                </div>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo $this->__('Password') ?>" />
                                </div>
                            </li>
                            <?php echo $this->getChildHtml('form.additional.info'); ?>
                            <?php echo $this->getChildHtml('persistent.remember.me'); ?>
                        </ul>
                        <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
                    </div>
                    <div class="buttons-set">
                       
                        <button type="submit" class="button" title="<?php echo $this->__('Login') ?>" name="send" id="send2"><span><span><?php echo $this->__('Sign in') ?></span></span></button>
                    </div>
                     <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="f-left"><?php echo $this->__("Can't access your account?") ?></a>
                </div>
            </div>
            <p>   © 2016 Microsoft</p>
        </div>
        <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
            <input name="context" type="hidden" value="checkout" />
        <?php endif; ?>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('login-form', true);
    //]]>
    </script>
</div>
